In [1]:
set_a = set(['blue', 'green', 'violet', 'red'])
set_b = set(['green', 'yellow', 'blue', 'orange'])

set_a & set_b #intersection

{'blue', 'green'}

In [2]:
set_a | set_b

{'blue', 'green', 'orange', 'red', 'violet', 'yellow'}

In [3]:
set_a - set_b

{'red', 'violet'}

In [4]:
set_a^set_b

{'orange', 'red', 'violet', 'yellow'}

In [6]:
from datetime import *
the_datetime = datetime.now()
print (the_datetime)

2019-09-18 18:21:56.131972

In [7]:
the_year = the_datetime.year
print (the_year)

2019

In [8]:
print (the_datetime.strftime("%B"))

September

In [9]:
print (the_datetime.strftime("%b"))

Sep

In [10]:
print (the_datetime.strftime("%A"))

Wednesday

In [11]:
print (the_datetime.strftime("%a"))

Wed

In [13]:
print (the_datetime.strftime('%Y%m%d'))

20190918

In [23]:
print (the_datetime.strftime('%Y%m/%d %H:%M:%S'))

2019JJ09JJ18 18:21:56

In [15]:
str_date = '2019-09-18 15:54:22'

In [20]:
str_date_conv = datetime.strptime(str_date, '%Y-%m-%d %H:%M:%S')
print (str_date_conv)
print (type(str_date_conv))

2019-09-18 15:54:22
<class 'datetime.datetime'>

In [21]:
print(str_date_conv.year)

2019

In [24]:
import pandas as pd

In [25]:
my_df = pd.DataFrame({'int_a': [1,2,3,4,5], 'int_b': [12,14,16,18,20]})

In [26]:
print (type(my_df))

<class 'pandas.core.frame.DataFrame'>

In [27]:
my_df.head()

   int_a  int_b
0      1     12
1      2     14
2      3     16
3      4     18
4      5     20

In [30]:
print (list(my_df.index))

[0, 1, 2, 3, 4]

In [32]:
my_df.head(1)

   int_a  int_b
0      1     12

In [33]:
my_df.tail(1)

   int_a  int_b
4      5     20

In [64]:
the_data = pd.read_csv('C:/Users/pathouli/myStuff/academia/columbia/socialSciences/GR5067/data/l3_ex.csv')
the_data = the_data.append({'c1': 6, 'c2': 'z', 'c3': 0.0315}, ignore_index=True)
the_data = pd.concat([the_data, pd.DataFrame({'c4': [1,2,3,4,5,6,7,8,9,10,11]})], axis=1)#col concat

print (the_data)

    c1 c2      c3  c4
0    1  a  0.0100   1
1    2  b  0.0400   2
2    3  c  0.0460   3
3    4  a  0.0680   4
4    5  b  0.0860   5
5    6  c  0.1040   6
6    7  a  0.1220   7
7    8  b  0.1400   8
8    9  c  0.1580   9
9   10  a  0.1760  10
10   6  z  0.0315  11

In [35]:
the_data.head()

   c1 c2     c3
0   1  a  0.010
1   2  b  0.040
2   3  c  0.046
3   4  a  0.068
4   5  b  0.086

    c1 c2     c3
0    1  a   0.01
1    2  b   0.04
2    3  c  0.046
3    4  a  0.068
4    5  b  0.086
5    6  c  0.104
6    7  a  0.122
7    8  b   0.14
8    9  c  0.158
9   10  a  0.176
10   6  z  .0315
11   6  z  .0315
12   6  z  .0315
13   6  z  .0315

In [49]:
the_data.head()

  c1 c2     c3
0  1  a   0.01
1  2  b   0.04
2  3  c  0.046
3  4  a  0.068
4  5  b  0.086

In [66]:
#lambda
x_a = (lambda x: x*x)
the_answer = x_a(2)
print (the_answer)

4

In [67]:
x_b = (lambda x, y: x*y)
the_answer = x_b(4,5)
print (the_answer)

20

In [85]:
the_data = pd.read_csv('C:/Users/pathouli/myStuff/academia/columbia/socialSciences/GR5067/data/l3_ex.csv')
the_data = the_data.append({'c1': 6, 'c2': 'z', 'c3': 0.0315}, ignore_index=True)
the_data_new = pd.DataFrame(map(lambda x: (x, x*2), the_data.c1))
#print (the_data_new)

the_data_filt = pd.DataFrame(filter(lambda x: (x >= 4), the_data.c1))
#print (the_data_filt)

from functools import reduce
the_ar = [1,2,3,4,5]
the_data_red = reduce(lambda x, y: (x + y), the_ar)
#print (the_data_red)
print (sum(the_ar))

15

In [98]:
f = open(r'C:\Users\pathouli/myStuff\academia\columbia\socialSciences\GR5067\lectures\l3\example_text.txt', 'r')
the_read = f.read()
print (the_read)
#for line in f:
#    print (line, end='')
#    print ("test")
#the_read_ar = f.readlines()
#print (the_read_ar)
f.close()

this natural language processing class is loads of fun!!! yeah!!
this entire semester is packed with interesting learnings

In [103]:
import os
the_path = 'C:/Users/pathouli/myStuff/academia/columbia/socialSciences/GR5067/data/topics/'
the_dirs = os.listdir(the_path)
print (the_dirs)

['fishing', 'hiking', 'machinelearning', 'mathematics']

In [110]:
the_files = os.listdir(the_path + the_dirs[0])
the_file_names = pd.DataFrame()
for word in the_files:
    the_file_names = the_file_names.append({'file_name': word, 'label': the_dirs[0]}, ignore_index=True)
    
print(the_file_names)

                                            file_name    label
0   0,4570,7-153-10364-34956--,00.html_12180052900...  fishing
1                           2347.htm_121805687000.txt  fishing
2                         3ways.html_121816046000.txt  fishing
3   46-bait-and-tackle-palisades-park_121721321000...  fishing
4   5-rescued-from-capsized-sport-fishing-boat-at-...  fishing
5   a-reel-fish-story-westfield-boy-receives-award...  fishing
6              bassmasterfantasy.com_121742967000.txt  fishing
7   commentary-increasing-access-to-hunting-fishin...  fishing
8      deep-sea-fishing-trip-tickets_121839590000.txt  fishing
9                    fishandboat.com_121730870000.txt  fishing
10       fishing-alabama-state-parks_121705279000.txt  fishing
11                   fishing-alabama_121758955000.txt  fishing
12                  fishing-gear.jsp_121837274000.txt  fishing
13               fishing-in-the-city_121742451000.txt  fishing
14                   Fishing-Reports_121810946000.txt  fishing
15                      fishing.html_121656291000.txt  fishing
16                      fishing.html_121706857000.txt  fishing
17                      fishing.html_121739138000.txt  fishing
18                      fishing.html_121740200000.txt  fishing
19                      fishing.html_121856652000.txt  fishing
20                       fishing.htm_121656776000.txt  fishing
21                       fishing.htm_121722563000.txt  fishing
22                     fishing.shtml_121657135000.txt  fishing
23               FishingReports.aspx_121815500000.txt  fishing
24                           Fishing_121652350000.txt  fishing
25                           fishing_121704449000.txt  fishing
26                           Fishing_121707997000.txt  fishing
27                           Fishing_121726713000.txt  fishing
28                           fishing_121733965000.txt  fishing
29                           fishing_121735043000.txt  fishing
..                                                ...      ...
31                           fishing_121802129000.txt  fishing
32                           fishing_121817428000.txt  fishing
33                           fishing_121825818000.txt  fishing
34                           fishing_121834620000.txt  fishing
35                           fishing_121854626000.txt  fishing
36                    Fishing_Planet_121724140000.txt  fishing
37                      fishneed.htm_121706248000.txt  fishing
38                              fish_121827061000.txt  fishing
39                        freshwater_121727791000.txt  fishing
40            globalfishingwatch.org_121826539000.txt  fishing
41                          hotspots_121835964000.txt  fishing
42                 how-to-catch-fish_121658902000.txt  fishing
43                    idfg.idaho.gov_121807151000.txt  fishing
44                        index.html_121750965000.txt  fishing
45     jennettes-pier-fishing-report_121842817000.txt  fishing
46  killing-oldest-fish-marine-reserve_12172290700...  fishing
47       license-types-and-fees.html_121836566000.txt  fishing
48           Old-Fishing-Store-21310_121752137000.txt  fishing
49                       regulations_121804792000.txt  fishing
50                   rules-regs.aspx_121753028000.txt  fishing
51  trout-fishing-in-bergen-county-begins-saturday...  fishing
52                  trout-where-fish_121841295000.txt  fishing
53                     weekly-report_121748964000.txt  fishing
54                      wgfd.wyo.gov_121854076000.txt  fishing
55                     Where-to-Fish_121754387000.txt  fishing
56                       wheretofish_121702777000.txt  fishing
57                       wheretofish_121744451000.txt  fishing
58             www.mdnr-elicense.com_121825101000.txt  fishing
59             www.takemefishing.org_121725614000.txt  fishing
60       www.worldfishingnetwork.com_121855705000.txt  fishing

[61 rows x 2 columns]